<h1 style="background:transparent !important" class="jumbotron">All Stylists</h1>
<ul class="styleList">
  #foreach ($stylist in $stylists)
    <li><a href="/stylists/$stylist.getId()">$stylist.getSname()</a></li>
  #end
</ul>
<a class="viewBtn" href="/stylists/new">Add New Stylist</a>
