<h1 style="background:transparent !important" class="jumbotron">Success!</h1>

<p class="pageSuccess">Your Client has been saved to $stylist.getSname().</p>


<a class="viewBtn" href="/stylists">View Stylists</a>
