<p>Add a client to $stylist.getSname()</p>

<form action="/clients" method="post">
  <input id="stylist_id" name="stylist_id" type="hidden" value="$stylist.getId()">

  <div class="form-group">
    <label for="cname">Cname</label>
    <input id="cname" name="cname" type="text" class="form-control">
  </div>

  <button type="submit" class="btn btn-success">Add Client</button>
</form>
