<h1 style="background:transparent !important" class="jumbotron">Success!</h1>

<p id="styleSuccess">Your Stylist has been added to the Roster.</p>

<br>

<a class="viewBtn" href="/stylists">View Stylists</a>
